[run]
branch = false
[report]
sort = cover
fail_under = 95
show_missing = true
skip_covered = true
exclude_lines =
    @abc.abstractmethod
    @abc.abstractclassmethod
    @abc.abstractstaticmethod
    if __name__ == "__main__":
